html {
  font-family: sans-serif;
}

.container {
  max-width: 46.875em;
  margin: 0 auto;
  padding: 0 5px;
}

.title {
  margin-top: 20px;
  font-size: 1.5em;
  margin-bottom: -20px;
}

.profile-content, .job-content {
  margin-left: 0.5em;
}

.profile, .experience {
  display: grid;
  grid-template-columns: 3fr 5fr;
  margin: -1.0em 0 0 0.5em;
}

.job-section, .skill-section {
  margin: -1.0em 0 0 0.5em;
}

.job-detail {
  margin: 0 0 0 1.0em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: -1.0em 0 0 0.5em;
}

h2 {
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
}

p {
  margin: -1.0em 0 0 0.5em;
}
